<p id="notice"><%= notice %></p>



<div class="d-flex justify-content-center" >
<div class="card" style="width: 18rem; background-color:aliceblue;">
  <div class="card-body">
    <h5 class="card-title"><%= @section.title %></h5>
    
<p>
  <strong>Location:</strong>
  <%= @section.location %>
</p>

<p>
  <strong>Title:</strong>
  
</p>

<p>
  <strong>Visible:</strong>
  <%= @section.visible %>
</p>

<p>
  <strong>Position:</strong>
  <%= @section.position %>
</p>
    
  </div>
</div>



</div>







<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
