<h1>SHOW</h1>
<%=@section.title%>
<%=@section.position%>
<%= link_to "Edit", edit_section_path(@section) %>
<%= link_to "index", sections_path %>
  <%= link_to "Destroy", section_path(@section),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>