<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<form>
  
  <div class="card" style="background-color:aliceblue">
    <div class="mb-3 p-5">
    <label for="formFile" class="form-label">Photo (optional)</label>
    <%= form.file_field :thumbnail, class: "form-control" %>

    
  </div>
    <div class="mb-3 p-5">
      <%= form.label :title, class: "form-label"%>
      <%= form.text_field :title, class: "form-control" %>
      
      
    </div>
    
    <div class="mb-3 p-5">
      
      <%= form.label :details, class: "form-label"%>
       <%= form.text_area :details, :class => "tinymce form-control" %>
        <%= tinymce %>

      <!--<#%= form.text_area :details, class: "form-control" %>-->
    </div>
    <%= form.submit class: "btn btn-primary"%>
    </div>
  </form>


<% end %>
