<%= form_with(model: sponsor) do |form| %>
  <% if sponsor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sponsor.errors.count, "error") %> prohibited this sponsor from being saved:</h2>

      <ul>
        <% sponsor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<form>
  <div class="card" style="background-color:aliceblue">
    <div class="mb-3 p-5">
      <%= form.label :title, class: "form-label"%>
      <%= form.text_field :title, class: "form-control" %>
      
      
    </div>
    
    <div class="mb-3 p-5">
      <%= form.label :website, class: "form-label"%>
      <%= form.text_field :website, class: "form-control" %>
    </div>
    
    
    
    
    <%= form.submit class: "btn btn-primary"%>
    </div>
  </form>

<% end %>
