<%= form_with(model: page) do |form| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
        <% page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



<form>
  <div class="card" style="background-color:aliceblue">
    <div class="mb-3 p-5">
      <%= form.label :title, class: "form-label"%>
      <%= form.text_field :title, class: "form-control" %>
      
      
    </div>
    <div class="mb-3 p-5">
      <%= form.label :permalink, class: "form-label"%>
      <%= form.text_field :permalink, class: "form-control" %>
      
      
    </div>
    <div class="mb-3 p-5">
      <%= form.label :section_id, class: "form-label"%>
      <%= form.number_field :section_id, class: "form-control" %>
    </div>
    
    
    <div class="mb-3 p-5">
      <%= form.label :page_type, class: "form-label"%>
      <%= form.text_area :page_type, class: "form-control" %>
      
      
    </div>
    <div class="mb-3 p-5">
      <%= form.label :visible, class: "form-label"%>
      <%= form.check_box :visible, class: "form-check-input" %>
      
      
    </div>
    <div class="mb-3 p-5">
      <%= form.label :position, class: "form-label"%>
      <%= form.number_field :position, class: "form-control" %>
      
      
    </div>
    <div class="mb-3 p-5">
      <%= form.label :content, class: "form-label"%>
      <%= form.text_area :content, class: "form-control" %>
      
      
    </div>
    
    
    <%= form.submit class: "btn btn-primary"%>
    </div>
  </form>

<% end %>
