<%= form_with(model: album) do |form| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
        <% album.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>











  <form>
  <div class="card" style="background-color:aliceblue">
    <div class="mb-3 p-5">
      <%= form.label :title, class: "form-label"%>
      <%= form.text_field :title, class: "form-control" %>
      
      
    </div>
    <div class="mb-3 p-5">
      <%= form.label :description, class: "form-label"%>
      <%= form.text_area :description, class: "form-control" %>
    </div>
    <%= form.submit class: "btn btn-primary"%>
    </div>
  </form>









<% end %>
