<%= form_with(model: photo) do |form| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
        <% photo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



<form>
  <div class="card" style="background-color:aliceblue">
    <div class="mb-3 p-5">
      <%= form.label :title, class: "form-label"%>
      <%= form.text_field :title, class: "form-control" %>
      
      
    </div>
    
    <div class="mb-3 p-5">
      <%= form.label :album_id, class: "form-label"%>
      <%= form.number_field :album_id, class: "form-control" %>
    </div>
    
    
    <div class="mb-3 p-5">
      <%= form.label :description, class: "form-label"%>
      <%= form.text_area :description, class: "form-control" %>
      
      
    </div>
    
    
    <%= form.submit class: "btn btn-primary"%>
    </div>
  </form>



<% end %>
