<p id="notice"><%= notice %></p>


<div class="d-flex justify-content-center" >
<div class="card" style="width: 18rem; background-color:aliceblue;">
  <div class="card-body">
    <h5 class="card-title"><%= @photo.title %></h5>
<p>
  <strong>Album:</strong>
  <%= @photo.album_id %>
</p>


<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>
  </div>
</div>



</div>





<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
