<!DOCTYPE html>
<html>
  <head>
    <title>Harmony Club Of Worcester</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
        <meta charset="utf-8" />
        
        <meta name="description" content="" />
        <meta name="author" content="" />
        
        <!-- Favicon-->
        <%= favicon_link_tag 'favicon.ico' %>
        <!-- Core theme CSS (includes Bootstrap)-->
        
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>

  </head>

  <body>
           <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #15173d">
            <div class="container-fluid px-5">
                <a class="navbar-brand" href="#!"><%= image_tag "HCLogo.gif", class: "w-25"%></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    
                    
                    
                    
                    
                    
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <!--loop over sections-->
                        <%= link_to "index", sections_path, class: "nav-link"%>
                        <%= link_to "home", root_path, class: "nav-link"%>
                        <% @sections.each do |sec|%>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          <!--output section title-->
                            <%= sec.title%>
                          </a>
                          
                          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <!--loop over pages-->
                            <% sec.pages.each do |p|%>
                              <% if p.page_type == "Basic Page"%>
                            <li><%= link_to p.title, site_page_path(id: p.id), class:"dropdown-item" %></li>
                              <%elsif p.page_type == "Internal URL"%>
                              <li><%= link_to p.title, p.content, class:"dropdown-item" %></li>
                              
                              <%elsif p.page_type == "External URL"%>
                              <li><%= link_to p.title, p.content, class:"dropdown-item", target: :_blank %></li>
                              <%elsif p.page_type == "Document"%>
                              <li><%= link_to p.title, p.content, class:"dropdown-item" %></li>
                              
                              <%end%>
                            <%end%>
                            <!--end loop over pages-->
                        <!--end loop over sections-->
                        </ul>
                        </li>
                        <%end%>
                    
                    
                    
                          
                    
                    
                    
                    
                    
                        
                    </ul>
                </div>
            </div>
        </nav>
        
  
  <div style="background-color: #B0C4DE">
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
    <%= yield %>
    </div>  
    <footer class="py-5" style="background-color: #15173d">
            <div class="container px-4 px-lg-5 "><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>

  </body>

        
</html>
